<div>
  <app-search (seachTextChange)="onsearchTechEntered($event)"> </app-search>
  <app-filter
    [all]="getTotalCourses()"
    [free]="getTotalFreeCourses()"
    [premium]="getPremiumCourses()"
    (filterRadioButtonSelectionChanged)="onFilterRadioButoonChanged($event)"
  ></app-filter>
</div>
<ng-container *ngFor="let course of courses">
  <!-- courseCouttonRadioButton === 'all' ||
  courseCouttonRadioButton === course.type -->
  <div
    class="flex"
    *ngIf="searchText === '' || course.name.toLowerCase().includes(searchText)"
  >
    <p class="ml-2">Name:{{ course.name }}</p>

    <p class="ml-2">Description:{{ course.desc.slice(0, 80) }}.....</p>
    <p
      class="ml-2"
      [ngStyle]="{ color: course.type === 'free' ? 'green' : 'red' }"
    >
      Type:
      {{ course.type }}
    </p>
    <p class="ml-2"><b>Price:</b>${{ course.price }}</p>

    <button class="ml-2 mt-2">Buy Now</button>
    <button class="ml-2 mt-2">Show details</button>
  </div></ng-container
>
