<!-- <div>
  <app-single-template-style-property></app-single-template-style-property>
</div>
<div>
  <app-multiple-template-style-property></app-multiple-template-style-property>
</div>
<div><app-string-interpolation></app-string-interpolation></div>
<div><app-property-binding></app-property-binding></div>
<div><app-event-binding></app-event-binding></div>
<div><app-two-way-binding></app-two-way-binding></div>
<div><app-ngfor-d></app-ngfor-d></div>
<div><app-ngstyle-d></app-ngstyle-d></div>
<div><app-ngif-d></app-ngif-d></div>
<div><app-ngclass-d></app-ngclass-d></div>
<div><app-course></app-course></div>
<div><app-demo></app-demo></div>
<div><app-customer-list></app-customer-list></div>
<div><app-year-cal></app-year-cal></div>
<div>
  <h2>App component</h2>
  <p>this is<b>app</b>component.</p>
  <button>Button</button>
</div>
<div><app-comp1></app-comp1></div>
<div><app-comp2></app-comp2></div>
<div><creating-services1-root></creating-services1-root></div>
<div><creating-services2-root></creating-services2-root></div>
<div *ngFor="let users of users" class="flex">
  <div class="m-2">Name :{{ users.name }}</div>
  <div class="m-2">Status :{{ users.status }}</div>
</div>
<div><add-user-root></add-user-root></div>
<div><all-user-root></all-user-root></div>
<div><comp11-root></comp11-root></div>
<div><comp22-root></comp22-root></div>
<button (click)="unSubscribe()">unsubscribe</button>
<button (click)="subscribe()">subscribe</button> -->
<!-- <div><ex1-root></ex1-root></div> -->
<div>
  <input type="text" #input />
  <button (click)="OnSubmit(input)">Submit</button>
  <life-cycle-root [value]="inputText">
    <h4>This this projected content{{ inputText }}</h4>
  </life-cycle-root>
</div>
