<div class="form">
  <h2 id="Registrion">Registrion Form</h2>
  <!-- <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm"> -->
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div ngModelGroup="personaldetails" #personalDetails="ngModelGroup">
      <label for="fname">First Name</label>
      <input
        type="text"
        id="fname"
        placeholder="Your First Name .."
        name="firstname"
        [(ngModel)]="fName"
        required
        #fname="ngModel"
      />
      <!-- <div>
        <small *ngIf="fname.invalid && fname.touched"
          >First name is required field</small
        >
        <span *ngIf="fName">you entered {{ fName }}</span>
      </div> -->

      <label for="lname">Last Name</label>
      <input
        type="text"
        id="lname"
        placeholder="Your Last Name .."
        name="lastname"
        [(ngModel)]="lName"
        required
      />

      <label for="Email">Email</label>
      <input
        type="email"
        id="email"
        placeholder="Your Email.."
        name="email"
        ngModel
        required
        email
      />
      <div>
        <small *ngIf="personalDetails.invalid && personalDetails.touched"
          >Some of the required fields does not have valid value.</small
        >
      </div>
      <button (click)="setDefaultValue()">Set Default Value</button>
    </div>

    <label for="Country">Country</label>
    <select id="Country" name="country" [ngModel]="defaultCountry">
      <option value="austeria">Austeria</option>
      <option value="uk">UK</option>
      <option value="canada">Canada</option>
      <option value="us">US</option>
      <option value="india">India</option>
    </select>

    <div class="flex flex-wrap gap-1 mb-3">
      <label for="gender">Gender:</label>
      <span *ngFor="let gen of gender">
        <input
          type="radio"
          id="{{ gen.id }}"
          value="{{ gen.value }}"
          name="gender"
          [(ngModel)]="defaultGender"
        />
        <label for="male">{{ gen.value }}</label>
      </span>
      <!-- <input type="radio" id="male" value="male" name="gender" ngModel />
      <label for="male">Male</label>
      <input type="radio" id="female" value="female" name="gender" ngModel />
      <label for="female">Female</label>
      <input type="radio" id="others" value="others" name="gender" ngModel />
      <label for="female">Others</label> -->
    </div>

    <label>Hobbies<i>(optional)</i></label>
    <div class="inline">
      <label
        ><input
          type="checkbox"
          value="sports"
          name="hobbies"
          ngModel
        />Sports</label
      >
      <label
        ><input
          type="checkbox"
          value="music"
          name="hobbies"
          ngModel
        />Music</label
      >
      <label
        ><input
          type="checkbox"
          value="movies"
          name="hobbies"
          ngModel
        />Movies</label
      >
    </div>

    <!-- <p-button label="Add" (onClick)="addAddress()"></p-button>
    <ul>
      <li *ngFor="let address of addresses">{{ address }}</li>
    </ul> -->

    <input type="submit" value="submit" id="btn" />
  </form>
</div>
<div class="form-data">
  <p>
    First Name: <b>{{ fName }}</b>
  </p>
  <p>
    Last Name: <b>{{ lName }}</b>
  </p>
  <p>
    Email: <b>{{ email }}</b>
  </p>
  <p>
    Country: <b>{{ country }}</b>
  </p>
  <p>
    Gender: <b>{{ gend }}</b>
  </p>
</div>
